body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    background: rgb(64,62,107);
    background: repeating-linear-gradient(180deg, rgba(64,62,107,1) 0%, rgba(90,50,80,1) 100%);
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 75% auto;
    grid-template-areas: "topsection"
    "maincontent"
    "bottomsection";
}

#topsection{
    grid-area: topsection;
    justify-self: end;
    margin-right: 3%;
}

#topsection mark{
    background: none;
    color: #7189BB;
}
#midcontent{
    grid-area: maincontent;
    align-self: center;
    justify-self: center;
    width: 50%;
}

#topmidcontent{
    display: flex;
    align-items: center;
}

#topmidcontent mark{
    background: none;
    color: #7189BB;
}

#topmainimg{
    display: flex;
    width: 20vh;
    height: 20vh;
    background:white;
    border-radius: 10%;
    justify-content: flex-end;
}

#topmainimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;

   
}

#topmainimg svg{
    align-self: end;
    position: absolute;
    margin-bottom: 0.4%;
    margin-right: 0.4%;
}

hr {
    width: 100%;
    height: 5px;
    border-radius: 25px;
    background-color: white;
}

#mainimgtext{
    margin-left: 2%;
}
#trackgrid a{
    text-decoration: none;
    color: white;
}
.trackimg{
    width: 8vh;
    height: 8vh;
    border-radius: 15%;
    background: white;
    margin-left: 5%;
}

.trackimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15%;
}
.tracksection{
    display: flex;
    align-items: center;
    padding: 5%;
}
.tracksection:hover{
    filter: brightness(0.5);
    background: rgba(0, 0, 0, 0.3)
}
.tracktext{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.tracktext h5, h6{
    margin-top: 0;
}

.tracktext mark{
    background: none;
    font-weight: 200;
    color: white;
}

#bottomsection{
    grid-area: bottomsection;
    background: rgba(250, 123, 123, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: center;
   justify-content: space-around;
    
}


#leftbottomcontent{
    display: flex;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
 
}

#leftbottomcontent mark{
    background: none;
    color: white;
    font-weight: 100;
}
#leftbottomimg{
    width: 10vh;
    height: 10vh;
    background: white;
    border-radius: 10%;
    margin-right: 10%;
}

#leftbottomimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%; 
}
#bottomaudiocontrols{
    width: fit-content;
    padding: 0;
}


#progresscontainer{
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
}

#progressslider{
    width: 20vw;
    height: 8px;
    appearance: none;
    background: linear-gradient(90deg, grey 30%, grey 30%);
    border-radius: 5px;
    transform-origin: center;
   
}


#progressslider::-webkit-slider-thumb{
    appearance: none;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#buttons{
    display: flex;
    margin-top: 3vh;
    justify-self: center;
    width: 30%;
    justify-content: space-evenly;
  
}

#buttons svg{
    flex-shrink: 1;
    max-width: 100%;
}

#volumecontrolcontainer{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;
    width: auto;
}


#volumeslider{
    width: 100%;
    height: 6px;
    appearance: none;
    background: linear-gradient(90deg, grey 30%, grey 30%);
    border-radius: 5px;
}

#volumeslider::-webkit-slider-thumb{
        appearance: none;
        background: white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
}


@media (min-width: 1920px) {
    #topsection{
        font-size: 2rem;
    }
    #mainimgtext h1{
        font-size: 3rem;
    }
    
    #mainimgtext h5{
        font-size: 2rem;
    }

    .tracktext h5{
        font-size: 1.5rem;

    }

    .tracktext h6{
        font-size: 1.5rem;
    }

    #leftbottomcontent h5{
        font-size: 2rem;
    }
}

@media (max-width: 1200px) {
    #midcontent{
        width: 75%;
    }

    #leftbottomimg{
        width: 8vh;
        height: 8vh;
    }
    #leftbottomcontent h5{
        font-size: 0.7rem;
    }
    #volumeslider{
        width: 50%;
    }

    #buttons{
        width: 60%;
    }
 }

 @media (max-width:600px){
    #leftbottomimg{
        width: 5vh;
        height: 5vh;
    }
    #volumecontrolcontainer{
        display: none;
    }
    #progresscontainer{
        display: none;
    }

    #buttons{
        width: 60%;
        
        height: fit-content;
    }
    #leftbottomcontent{
        
        height: 10vh;
    }
   body{

    grid-template-rows: 5% 80% auto;
   }
    
    
 }
