body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    background: rgb(64,62,107);
    background: repeating-linear-gradient(180deg, rgba(64,62,107,1) 0%, rgba(90,50,80,1) 100%);
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 75% auto;
    grid-template-areas: "topsection"
    "maincontent"
    "bottomsection";
}

#topsection{
    grid-area: topsection;
    justify-self: end;
    margin-right: 3%;
}
#topsection mark{
    background: none;
    color: #7189BB;
}
#midcontent{
    grid-area: maincontent;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: fit-content;
    
}

#midcontent h1{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2%;
}

#midcontent h5{
    text-align: center;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 2%;

}
#midmaindisplay{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    

  
    
}

#displayitem{
   text-align: center;
   justify-items: center;
    
}

#displayitem h5{
    font-weight: 400;
    margin-top: 2%;
    font-size: 1.5rem;
}

#displayimg{
    width: 25vh;
    height: 25vh;
    background-color: white;
    border-radius: 10%;
    
}

#displayimg:hover{
    filter: brightness(0.5);
    background: rgba(0, 0, 0, 0.3)
}
#displayimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

#bottomsection{
    grid-area: bottomsection;
    background: rgba(129, 123, 193, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: center;
   justify-content: space-around;
    
}


#leftbottomcontent{
    display: flex;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
 
}

#leftbottomcontent mark{
    background: none;
    color: white;
    font-weight: 100;
}
#leftbottomimg{
    width: 10vh;
    height: 10vh;
    background: white;
    border-radius: 10%;
    margin-right: 10%;
}

#leftbottomimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%; 
}
#bottomaudiocontrols{
    width: fit-content;
    padding: 0;
}

#buttons svg{
    flex-shrink: 1;
    max-width: 100%;
}
#progresscontainer{
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
}

#progressslider{
    width: 20vw;
    height: 8px;
    appearance: none;
    background: linear-gradient(90deg, grey 30%, grey 30%);
    border-radius: 5px;
    transform-origin: center;
   
}


#progressslider::-webkit-slider-thumb{
    appearance: none;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#buttons{
    display: flex;
    margin-top: 3vh;
    justify-self: center;
    width: 10vw;
    justify-content: space-evenly;
  
}

#volumecontrolcontainer{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;

}


#volumeslider{
    width: 100%;
    height: 6px;
    appearance: none;
    background: linear-gradient(90deg, grey 30%, grey 30%);
    border-radius: 5px;
}

#volumeslider::-webkit-slider-thumb{
        appearance: none;
        background: white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
}




