/*<uniquifier>: Use a unique and descriptive class name*/
/*<weight>: Use a value from 100 to 900*/


body {
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  background: rgb(64,62,107);
  background: linear-gradient(180deg, rgba(64,62,107,1) 0%, rgba(90,50,80,1) 95%);
    color: white;
    overflow: hidden;
   margin: 0px;
   padding: 0px;
}

.maingrid{
    height: 100vh;
   display: grid;
   grid-template-columns: 50% 50%;
   grid-template-rows: 80vh 1fr;
   

}

#rightcontent{
    height: 70vh;
    width: 40vh;
    margin-top: 25%;
    align-self: center;
    justify-self: center;
    grid-column: 2/3;
    grid-row: 1/1;
    
}
#leftcontent{
    margin-top: 25%;
    height: 60vh;
    width: 40vh;
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/1;
}

#colortextchange{
    color: #7189BB;
}

#leftcontent h1{
    margin: 0px;
    font-size: 90px;
    font-weight: bold;
}
#leftcontent h5{
    font-size: 15px;
    font-weight:200;
}
#imgcontainer{
   
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 10%;
    overflow: hidden;
}

#imgcontainer img{
    width: 100%;
    height: 100%;
}
#progressbar{
    
    width: 400px;
    height: 10px;
    background-color: #7F7D7D;
    border-radius: 25px;
}
#progresscircle{
    
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 100%;

}
#progress2{
    
    display: flex;
    align-items: center;
    justify-content: right;
    width: 130px;
    height: 10px;
    background-color: white;
    border-radius: 25px;
}

#buttons{
    
    width: 400px;
    height: 100px;
    display: flex;
    align-items: center;
   justify-content: center;
}

#playbutton{
   width: 50px;
   height: 50px;
   margin-left: 50px;
   margin-right: 50px;
   
}



#forwardcontainer {
    width: 50px;
   height: 50px;
   margin-left: 0px;
   margin-right: 0px;
}

#backbutton{
    width: 50px;
    height: 50px;
    margin-left: 0px;
   margin-right: 0px;

}

#containertime{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 10px;
}

#nowplayingdiv{
    grid-column:  2 / 4;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: end;
}

#nowplaying{
    font-size: 20px;
    font-weight:200;
    width:100%;
    margin-right: 25px;
}

#colortextchange2{
    color: #7189BB;
    font-weight: 400;
    background: none;
}

#volumecontrolgroup{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: inline-flex;
    align-self: end;
    justify-self: end;
    width: 100%;
    
}
#volumecontrolgroup span{
    margin-left: 25px;
}

