body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    background: rgb(64,62,107);
    background: repeating-linear-gradient(180deg, rgba(64,62,107,1) 0%, rgba(90,50,80,1) 100%);
    color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 75% auto;
    grid-template-areas: "topsection"
    "maincontent"
    "bottomsection";
}

#topsection{
    grid-area: topsection;
    justify-self: end;
    margin-right: 3%;
}

#topsection mark{
    background: none;
    color: #7189BB;
}
#midcontent{
    grid-area: maincontent;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    align-content: center;
    
}

#midcontent h1{
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 3%;
}

#midcontent mark{
    background: none;
    color: #7189BB;
}
#midmaindisplay{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    
}

#displayitem{
   width: min-content;
   text-align: center;
   justify-items: center;
   height: 50vh; 
}

#displayitem h6{
    font-weight: 400;
    font-size: 0.65rem;
}
#displayimg{
    display: flex;
    width: 25vh;
    height: 25vh;
    background-color: white;
    border-radius: 10%;
    justify-content: flex-end;
}
#displayimg:hover{
    filter: brightness(0.5);
    background: rgba(0, 0, 0, 0.3)
}

#displayimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}

#bottomsection{
    grid-area: bottomsection;
    background: rgba(242, 151, 71, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: center;
   justify-content: space-around;
    
}


#leftbottomcontent{
    display: flex;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
 
}

#leftbottomcontent mark{
    background: none;
    color: white;
    font-weight: 100;
}
#leftbottomimg{
    width: 10vh;
    height: 10vh;
    background: white;
    border-radius: 10%;
    margin-right: 10%;
}

#leftbottomimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%; 
}
#bottomaudiocontrols{
    width: fit-content;
    padding: 0;
}
#buttons svg{
    flex-shrink: 1;
    max-width: 100%;
}

#progresscontainer{
    display: flex;
    align-items: center;
    justify-self: center;
    justify-content: space-evenly;
}

#progressslider{
    width: 20vw;
    height: 8px;
    appearance: none;
    background: linear-gradient(90deg, grey 30%, grey 30%);
    border-radius: 5px;
    transform-origin: center;
   
}


#progressslider::-webkit-slider-thumb{
    appearance: none;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

#buttons{
    display: flex;
    margin-top: 3vh;
    justify-self: center;
    width: 10vw;
    justify-content: space-evenly;
  
}

#volumecontrolcontainer{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: end;

}


#volumeslider{
    width: 100%;
    height: 6px;
    appearance: none;
    background: linear-gradient(90deg, grey 30%, grey 30%);
    border-radius: 5px;
}

#volumeslider::-webkit-slider-thumb{
        appearance: none;
        background: white;
        width: 8px;
        height: 8px;
        border-radius: 50%;
}

@media (min-width: 1920px){
    #displayitem h6{
        font-size: 1rem;
    }

    #displayitem h5{
        font-size: 2rem;
    }

    #topsection{
        font-size: 2rem;
    }

    #midcontent h1{
        font-size: 3rem;
    }

    #leftbottomcontent h5{
        font-size: 2rem;
    }

    #midcontent{
        overflow: none;
    }

    #bottomsection{
        height: 100%;
        width: 100%;
    }
}
@media (max-width:1600px){
    #displayimg{
        width: 30vh;
        height: 30vh;
    }
}

@media (max-width: 1400px) {
    #displayitem h6{
        font-size: 1rem;
    }
    #displayimg{
        width: 25vh;
        height: 25vh;
    }
    #displayitem h6{
        font-size: 1rem;
    }

    #displayitem h5{
        font-size: 2rem;
    }

    #midcontent{
        overflow: none;
    }

    #bottomsection{
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    #displayitem h6{
        font-size: 1rem;
    }
    #midmaindisplay{
        display: flex;
        flex-direction: column;
        gap: 10rem;
        
        
    }
    #midcontent{
        overflow: scroll; /*makes it where you scroll and overlay stays and doesnt cover up*/
    }
    #displayimg{
        width: 30vh;
        height: 30vh;
    }
    #displayitem h6{
        font-size: 1.5rem;
    }

    #displayitem h5{
        font-size: 2rem;
    }

    body{
        
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;

    }

    #bottomsection{
        position: fixed;
        bottom: 0;
        left: 0;
        background: rgba(250, 123, 123, 0.3);
        height: 20%;
        width: 100%;
        
    }

    #leftbottomimg{
        width: 5vh;
        height: 5vh;
    }
    #volumeslider{
        width: 35%;
    }

    #buttons{
        width: 60%;
    }
    
}

@media (max-width:600px){
    #leftbottomimg{
        width: 5vh;
        height: 5vh;
    }
    #volumecontrolcontainer{
        display: none;
    }
    #progresscontainer{
        display: none;
    }

    #buttons{
        width: 60%;
        
        height: fit-content;
    }
    #leftbottomcontent{
        
        height: 10vh;
    }
   body{

    grid-template-rows: 5% 80% auto;
   }
   
   #displayitem h5{
    font-size: 1rem;
   }
   
   #displayitem h6{
    font-size: 0.7rem;
   }
   
   #bottomsection{
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(250, 123, 123, 0.3);
    height: 15%;
    width: 100%;
    
    }  
    
    #midmaindisplay{
        display: flex;
        flex-direction: column;
        gap: 8rem;
        
        
    }
    #midcontent{
        overflow: scroll; /*makes it where you scroll and overlay stays and doesnt cover up*/
        margin-bottom: 5%;
    }
 }